[submodule "externals/simplefilewatcher/simplefilewatcher"]
	path = externals/simplefilewatcher/simplefilewatcher
	url = https://github.com/jameswynn/simplefilewatcher.git
[submodule "externals/dr_libs/dr_libs"]
	path = externals/dr_libs/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "externals/libpng/libpng"]
	path = externals/png/png
	url = https://github.com/glennrp/libpng.git
[submodule "externals/libtiff/libtiff"]
	path = externals/tiff/tiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "externals/freetype/freetype"]
	path = externals/freetype/freetype
	url = https://github.com/ucpu/freetype.git
[submodule "externals/glad/glad"]
	path = externals/glad/glad
	url = https://github.com/ucpu/glad.git
[submodule "externals/glm/glm"]
	path = externals/glm/glm
	url = https://github.com/g-truc/glm.git
[submodule "externals/ogg/ogg"]
	path = externals/ogg/ogg
	url = https://github.com/xiph/ogg.git
[submodule "externals/vorbis/vorbis"]
	path = externals/vorbis/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "externals/assimp/assimp"]
	path = externals/assimp/assimp
	url = https://github.com/assimp/assimp.git
[submodule "externals/glfw/glfw"]
	path = externals/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "externals/utfcpp/utfcpp"]
	path = externals/utfcpp/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "externals/jpeg/jpeg"]
	path = externals/jpeg/jpeg
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "externals/msdfgen/msdfgen"]
	path = externals/msdfgen/msdfgen
	url = https://github.com/ckohnert/msdfgen.git
[submodule "externals/fastnoise/fastnoise"]
	path = externals/fastnoise/fastnoise
	url = https://github.com/Auburns/FastNoise.git
[submodule "externals/robin-hood-hashing/robin-hood-hashing"]
	path = externals/robin-hood-hashing/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "externals/zlib-ng/zlib-ng"]
	path = externals/zlib-ng/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "externals/stb/stb"]
	path = externals/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "externals/xatlas/xatlas"]
	path = externals/xatlas/xatlas
	url = https://github.com/jpcy/xatlas.git
[submodule "externals/pmp/pmp"]
	path = externals/pmp/pmp
	url = https://github.com/pmp-library/pmp-library.git
[submodule "externals/dualmc/dualmc"]
	path = externals/dualmc/dualmc
	url = https://github.com/dominikwodniok/dualmc.git
[submodule "externals/cubeb/cubeb"]
	path = externals/cubeb/cubeb
	url = https://github.com/kinetiknz/cubeb.git
[submodule "externals/plf/plf_colony"]
	path = externals/plf/plf_colony
	url = https://github.com/mattreecebentley/plf_colony.git
[submodule "externals/plf/plf_list"]
	path = externals/plf/plf_list
	url = https://github.com/mattreecebentley/plf_list.git
[submodule "externals/plf/plf_stack"]
	path = externals/plf/plf_stack
	url = https://github.com/mattreecebentley/plf_stack.git
[submodule "externals/zstd/zstd"]
	path = externals/zstd/zstd
	url = https://github.com/facebook/zstd.git
[submodule "externals/tinyexr/tinyexr"]
	path = externals/tinyexr/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "externals/samplerate/libsamplerate"]
	path = externals/samplerate/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
[submodule "externals/astc/astc"]
	path = externals/astc-encoder/astc-encoder
	url = https://github.com/ARM-software/astc-encoder.git
[submodule "externals/basis_universal/basis_universal"]
	path = externals/basis_universal/basis_universal
	url = https://github.com/BinomialLLC/basis_universal.git
[submodule "externals/avir/avir"]
	path = externals/avir/avir
	url = https://github.com/avaneev/avir.git
