[submodule "externals/simplefilewatcher/simplefilewatcher"]
	path = externals/simplefilewatcher/simplefilewatcher
	url = https://github.com/jameswynn/simplefilewatcher.git
[submodule "externals/dr_libs/dr_libs"]
	path = externals/dr_libs/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "externals/libpng/libpng"]
	path = externals/png/png
	url = https://github.com/glennrp/libpng.git
[submodule "externals/libtiff/libtiff"]
	path = externals/tiff/tiff
	url = https://github.com/libsdl-org/libtiff.git
[submodule "externals/freetype/freetype"]
	path = externals/freetype/freetype
	url = https://github.com/ucpu/freetype.git
[submodule "externals/glm/glm"]
	path = externals/glm/glm
	url = https://github.com/g-truc/glm.git
[submodule "externals/ogg/ogg"]
	path = externals/ogg/ogg
	url = https://github.com/xiph/ogg.git
[submodule "externals/vorbis/vorbis"]
	path = externals/vorbis/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "externals/assimp/assimp"]
	path = externals/assimp/assimp
	url = https://github.com/assimp/assimp.git
[submodule "externals/glfw/glfw"]
	path = externals/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "externals/jpeg/jpeg"]
	path = externals/jpeg/jpeg
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "externals/msdfgen/msdfgen"]
	path = externals/msdfgen/msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
[submodule "externals/fastnoise/fastnoise"]
	path = externals/fastnoise/fastnoise
	url = https://github.com/Auburns/FastNoise.git
[submodule "externals/zlib-ng/zlib-ng"]
	path = externals/zlib-ng/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "externals/stb/stb"]
	path = externals/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "externals/xatlas/xatlas"]
	path = externals/xatlas/xatlas
	url = https://github.com/jpcy/xatlas.git
[submodule "externals/pmp/pmp"]
	path = externals/pmp/pmp
	url = https://github.com/pmp-library/pmp-library.git
[submodule "externals/dualmc/dualmc"]
	path = externals/dualmc/dualmc
	url = https://github.com/dominikwodniok/dualmc.git
[submodule "externals/cubeb/cubeb"]
	path = externals/cubeb/cubeb
	url = https://github.com/mozilla/cubeb.git
[submodule "externals/plf/plf_colony"]
	path = externals/plf/plf_colony
	url = https://github.com/mattreecebentley/plf_colony.git
[submodule "externals/plf/plf_list"]
	path = externals/plf/plf_list
	url = https://github.com/mattreecebentley/plf_list.git
[submodule "externals/plf/plf_stack"]
	path = externals/plf/plf_stack
	url = https://github.com/mattreecebentley/plf_stack.git
[submodule "externals/zstd/zstd"]
	path = externals/zstd/zstd
	url = https://github.com/facebook/zstd.git
[submodule "externals/tinyexr/tinyexr"]
	path = externals/tinyexr/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "externals/samplerate/libsamplerate"]
	path = externals/samplerate/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
[submodule "externals/avir/avir"]
	path = externals/avir/avir
	url = https://github.com/avaneev/avir.git
[submodule "externals/openxr-sdk/OpenXR-SDK"]
	path = externals/openxr-sdk/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
[submodule "externals/bc7enc_rdo/bc7enc_rdo"]
	path = externals/bc7enc_rdo/bc7enc_rdo
	url = https://github.com/richgel999/bc7enc_rdo.git
[submodule "externals/unordered_dense/unordered_dense"]
	path = externals/unordered_dense/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "externals/gamenetworkingsockets/GameNetworkingSockets"]
	path = externals/gamenetworkingsockets/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
[submodule "externals/quickhull/quickhull"]
	path = externals/quickhull/quickhull
	url = https://github.com/akuukka/quickhull.git
[submodule "externals/wamr/wamr"]
	path = externals/wamr/wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
[submodule "externals/uni-algo/uni-algo"]
	path = externals/uni-algo/uni-algo
	url = https://github.com/uni-algo/uni-algo
[submodule "externals/sheenbidi/SheenBidi"]
	path = externals/sheenbidi/SheenBidi
	url = https://github.com/Tehreer/SheenBidi.git
[submodule "externals/harfbuzz/harfbuzz"]
	path = externals/harfbuzz/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "externals/cpr/cpr"]
	path = externals/cpr/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "externals/mbedtls/mbedtls"]
	path = externals/mbedtls/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "externals/curl/curl"]
	path = externals/curl/curl
	url = https://github.com/curl/curl.git
[submodule "externals/wamr/zydis"]
	path = externals/wamr/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "externals/dawn/dawn"]
	path = externals/dawn/dawn
	url = https://dawn.googlesource.com/dawn
[submodule "externals/glslang/glslang"]
	path = externals/glslang/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "externals/svector/svector"]
	path = externals/svector/svector
	url = https://github.com/martinus/svector.git
