name: Tests
on: [push, pull_request]

jobs:
  Windows:
    name: windows-${{ matrix.os-version }}-${{ matrix.build-config }}-${{ matrix.build-arch }}
    runs-on: windows-${{ matrix.os-version }}
    strategy:
      fail-fast: false
      matrix:
        os-version: [2019]
        build-config: [debug, release]
        build-arch: [Win32, x64]

    steps:
    - name: Versions
      shell: bash
      run: |
        cmake --version
        git --version

    - uses: actions/checkout@v1

    - name: Checkout submodules
      shell: bash
      run: |
        export MSYS=winsymlinks:nativestrict
        git config --global core.symlinks true
        git submodule update --init --recursive #--depth 1

    - name: Configure
      shell: bash
      run: |
        mkdir build
        cd build
        cmake -A${{ matrix.build-arch }} -DCMAKE_BUILD_TYPE=${{ matrix.build-config }} ..

    - name: Build
      shell: bash
      run: |
        cd build
        cmake --build . --config ${{ matrix.build-config }}

    - name: Tests
      shell: bash
      run: |
        cd build/result/${{ matrix.build-config }}
        ./cage-test-core

    - name: Assets
      shell: bash
      run: |
        cd build/result/${{ matrix.build-config }}
        ./cage-asset-database


  Ubuntu:
    name: ubuntu-${{ matrix.os-version }}-${{ matrix.build-config }}-${{ matrix.compiler.cc }}
    runs-on: ubuntu-${{ matrix.os-version }}.04
    env:
      CC: ${{ matrix.compiler.cc }}
      CXX: ${{ matrix.compiler.cxx }}
    strategy:
      fail-fast: false
      matrix:
        os-version: [18, 20]
        build-config: [debug, release]
        compiler:
        - {
            cc: gcc-7,
            cxx: g++-7,
            install: gcc-7 g++-7
          }
        - {
            cc: gcc-9,
            cxx: g++-9,
            install: gcc-9 g++-9
          }
        - {
            cc: clang,
            cxx: clang++,
            install: clang
          }

    steps:
    - name: Install packages
      run: |
        sudo apt-get update
        sudo apt-get install -y xorg-dev nasm ${{ matrix.compiler.install }}

    - name: Versions
      run: |
        cmake --version
        ${{ matrix.compiler.cc }} --version
        ${{ matrix.compiler.cxx }} --version
        git --version

    - uses: actions/checkout@v1

    - name: Checkout submodules
      run: |
        git submodule update --init --recursive --depth 1

    - name: Configure
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_BUILD_TYPE=${{ matrix.build-config }} ..

    - name: Build
      run: |
        cd build
        cmake --build . --config ${{ matrix.build-config }} -- -j3

    - name: Tests
      shell: bash
      run: |
        cd build/result/${{ matrix.build-config }}
        ./cage-test-core

    - name: Assets
      shell: bash
      run: |
        cd build/result/${{ matrix.build-config }}
        ./cage-asset-database

